<!DOCTYPE html>
<html lang="en" ng-app="SwabhavTechlabs">

<head>

    <script src="angular.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="jquery-3.3.1.js"></script>
    <script src="js/bootstrap.js"> </script>
    <title>Document</title>
</head>

<body class="container" style="margin-top: 10px">
    <section ng-controller='empController'>
        <h1>Employee</h1>

        <form>
            <div class="form-group">
                <label for="inputempName">Enter Name</label>
                <div>
                    <input type="text" class="form-control" ng-model="empName" placeholder="Enter Name">
                </div>
            </div>
            <div class="form-group">
                <label for="inputempDesignation">Select Designation</label>
                <div>
                    <select ng-model="empRole" class="form-control"
                        ng-options="designation for designation in designationList"></select>
                </div>
            </div>
            <div class="form-group">
                <label for="joiningDate">Enter Joining Date</label>
                <div>
                    <input type="date" class="form-control" ng-model="joiningdate" placeholder="Enter Joining Date">
                </div>
            </div>
            <div class="form-group">
                <label for="Manager">Select Manager</label>
                <div>
                    <select ng-model="manager" class="form-control" ng-options="emp for emp in empList"></select>
                </div>
            </div>
            <div class="form-group">
                <label for="salary">Enter Salary</label>
                <div>
                    <input type="number" class="form-control" ng-model="empSalary" placeholder="Enter Salary">
                </div>
            </div>
            <div class="form-group">
                <label for="commision">Enter Commision</label>
                <div>
                    <input type="number" class="form-control" ng-model="empCommision" placeholder="Enter Commision">
                </div>
            </div>
            <div class="form-group">
                <label for="Department">Select Department No</label>
                <div>
                    <select ng-model="empDepartName" class="form-control"
                        ng-options="department for department in departmentList"></select>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <button type="button" id="addButton" ng-click="Add($event)">Add</button>
                    <button ng-click="showData()">Display</button>
                </div>
            </div>
        </form>


        <table class="table table-striped" style="margin-top: 10px" ng-hide="hidden">
            <label>Search</label>
            <input type="text" ng-model="searchText" placeholder="Enter text"><br>
            <tr>
                <th>Sr. No.</th>
                <th>Employee Id</th>
                <th>Employee Name</th>
                <th>Employee Role</th>
                <th>Manager Id</th>
                <th>Joining Date</th>
                <th>Salary</th>
                <th>Commision</th>
                <th>Department</th>
                <th>Delete Data</th>
            </tr>
            <tbody ng-repeat="i in EmployeeArray|orderBy:'empName'|filter:searchText" ng-click="Delete($event)">
                <tr>
                    <td>{{$index+1}}</td>
                    <td>{{i.empId}}</td>
                    <td>{{i.empName}}</td>
                    <td>{{i.empRole}}</td>
                    <td>{{i.empManagerID}}</td>
                    <td>{{i.empJoiningDate}}</td>
                    <td>{{i.empSalary}}</td>
                    <td>{{i.empCommision}}</td>
                    <td>{{i.empDepartName}}</td>
                    <td><button class="btn btn-danger" value="{{i.empId}}">&times;</button></td>
                </tr>
            </tbody>
        </table>
    </section>
    <script>
        var app = angular.module('SwabhavTechlabs', []);
        app.factory('empService', ['$q', '$http', function ($q, $http) {
            var serviceObj = {};
            let empobjArray = [];

            serviceObj.getEmployeeDataArray = function () {
                return $q(function (resolve, reject) {
                    let empobjArray = [];
                    $http({
                        method: "GET",
                        url: "https://swabhav-tech.firebaseapp.com/emp.txt"
                    }).then(function (response) {
                        if (response.status == 200) {
                            let strArray = response.data.split("\n");
                            for (let i = 0; i < strArray.length; i++) {
                                strArray[i] = strArray[i].replace(/\s+/g, "");
                                strArray[i] = strArray[i].replace(/'/g, "");
                            }
                            strArray = strArray.filter(function (value, index, self) {
                                return self.indexOf(value) === index;
                            });
                            for (let i = 0; i < strArray.length; i++) {
                                let row = strArray[i].split(",");
                                let obj = {
                                    empId: row[0],
                                    empName: row[1],
                                    empRole: row[2],
                                    empManagerID: row[3],
                                    empJoiningDate: row[4],
                                    empSalary: row[5],
                                    empCommision: row[6],
                                    empDepartName: row[7]
                                }
                                empobjArray.push(obj);
                            }
                            resolve(empobjArray);
                        } else {
                            reject("Data Can't be Fetched");
                        }
                    });
                })
            }

            serviceObj.delete = function (value, array) {
                console.log(array);
                var ans = confirm("Do You Want To Delete Data");
                if (ans) {
                    for (let i in array) {

                        if (array[i].empId == value) {
                            console.log(array[i]);
                            array.splice(i, 1);
                            console.log(array.length);
                        }
                    }
                }
            }
           
            serviceObj.getdepartmentList = function (array) {
                let departmentList = [];
                for (let i in array) {
                    console.log(array[i].empDepartName);
                }
            }
            return serviceObj;
        }])

        app.controller('empController', ['$scope', 'empService', function ($scope, empService) {
            $scope.hidden = true;
            $scope.newArray = [];
            var promise = empService.getEmployeeDataArray();
            promise.then(function (employeearray) {
                $scope.EmployeeArray = employeearray;
                $scope.newArray = employeearray;
                //console.log($scope.newArray.length)
            }).catch(function (rejectMessage) {
                //alert(rejectMessage);
            })

            $scope.showData = function () {
                $scope.hidden = false;
            }
            $scope.Delete = function (event) {
                empService.delete(event.target.value, $scope.EmployeeArray);
            }
            $scope.Add = function (event) {
                let randomid;
                let iddate = new Date();

                let newobj = {

                    empId: iddate.getMilliseconds(),
                    empName: $scope.empName,
                    empRole: $scope.empRole,
                    empManagerID: $scope.manager,
                    empJoiningDate: $scope.dateofjoining,
                    empSalary: $scope.empSalary,
                    empCommision: $scope.empCommision,
                    empdepartname: $scope.empDepartName
                }
                console.log(newobj);
            }
        }])
    </script>
</body>

</html>