<div class="jumbotron">
    <h2 style="text-align: center">
        Student Form
    </h2>
</div>
<form class="form-horizontal" name="studentform">
    <div class="form-group">
        <label for="inputRollNo" class="col-sm-2 control-label">Enter Roll No</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" ng-model="s.rollNo" placeholder="Enter Roll No" required>
        </div>
    </div>
    <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">Enter Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="s.name" placeholder="Enter Name" required>
        </div>
    </div>
    <div class="form-group">
        <label for="inputAge" class="col-sm-2 control-label">Enter Age</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" ng-model="s.age" placeholder="Enter Age" required>
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail" class="col-sm-2 control-label">Enter Email Id</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" ng-model="s.email" placeholder="Enter Email Id" required>
        </div>
    </div>
    <div class="form-group">
        <label for="inputDate" class="col-sm-2 control-label">Enter Date</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" ng-model="s.date" placeholder="Enter Date" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Gender</label>
        <div class="col-sm-10">
            <label>
                <input type="radio" name="optionsRadios" ng-model="s.isMale" value="true" required>
                Male
            </label>
            <br />
            <label>
                <input type="radio" name="optionsRadios" ng-model="s.isMale" value="false" required>
                Female
            </label>
        </div>

    </div>

</form>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <a><button ng-click="add()" class="btn" ng-disabled="studentform.$invalid">Add</button></a>
        <!-- <a href="#/display"><button ng-click="add()" class="btn" ng-disabled="studentform.$invalid">Add</button></a> -->
        <!-- <button ng-click="displayData()" class="btn btn-primary">Display</button> -->
        <!-- <a href="#/display"><button class="btn btn-primary">Display</button></a> -->
    </div>
    <div style="height: 50px"></div>
</div>